<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="defaultLogAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${user.home}/logs/test-log4j.log" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <param name="maxFileSize" value="1073741824" />
        <param name="maxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyy-MM-dd HH\:mm\:ss,SSS} %t %p %c{1}(%L) - %m%n" />
        </layout>
    </appender>

    <logger name="defaultLog" additivity="false">
        <level value="INFO" />
        <appender-ref ref="defaultLogAppender" />
    </logger>

</log4j:configuration>

